<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <link rel='stylesheet' type="text/css" href='/stylesheets/index.css' />
</head>
<script src="/javascripts/jquery-1.12.1.min.js"></script>
<body>
<div class="main-title">
    <div class="main-title-big "><%= title %></div>
    <div class="">
        <a href="logout">登出</a>
        <a href="newArticle">发新文章</a>
    </div>
</div>
<div class="main-container clear">
    <div class="main-left pull-left">

    </div>
    <div class="main-right pull-left">
        <div class="admin-intro">
            <p>
                肉鸽 ♥ 0v0 ==3
            </p>
            <p>
                聪明伶俐乖巧可爱的傻狍子
            </p>
            <p>
                <span>微博</span><a href="http://weibo.com/2823906027/profile?rightmod=1&wvr=6&mod=personinfo&is_all=1" target="_blank">@深白色弦月</a>
            </p>
        </div>
    </div>
</div>
<div class="footer">
    <a href="http://www.miitbeian.gov.cn">蜀ICP备16021176号</a>
</div>

<script src="/javascripts/homepage.js"></script>
</body>
</html>
